.requirements-container {
  padding: 2% 5% 0 5%;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #ab3b40;
  font-family: 'Poppins';
}
.requirements-header-section {
  display: flex;
  justify-content: start;
  align-items: center;
}
.requirements-header-text {
  font-size: 18px;
  font-family: 'Poppins';
  color: #000000;
  margin-left: 50px;
}
.connect-with-facebook {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  transition: transform 500ms ease;
}
.animate {
  transition: transform 500ms ease;
  cursor: pointer;
}
.animate:hover {
  transform: scale(1.05);
}