.academic-calendar-container {
  padding: 2% 6% 0 6%;
}
.section-title-academic-calendar {
  font-size: 35px;
  font-weight: bold;
  color: #ab3b40;
  font-family: 'Poppins';
  margin-bottom: 0;
}
.academic-calendar-header-section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.academic-calendar-header-text {
  font-size: 18px;
  font-family: 'Poppins';
  color: #000000;
  margin-left: 50px;
}
.images-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}
.images-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}