.careers-container {
  padding: 2% 6% 0 6%;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #ab3b40;
  font-family: 'Poppins';
}
.careers-header-section {
  display: flex;
  justify-content: start;
  align-items: center;
}
.careers-header-text {
  font-size: 18px;
  font-family: 'Poppins';
  color: #000000;
  margin-left: 50px;
}